

body,
html {
  height: 100%;
  margin: 0;
  margin: 40px auto 10px auto;
    background-color: #f4f6f8;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

body,
html {
  height: 100%;
  margin: 40px auto 10px auto;
    padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* ✅ removes scroll */
}



.signup-form {
  gap:6px;
  /* margin: 5px auto; */
  background-color: white;
  padding: 10px 25px;
  
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 360px;
  box-sizing: border-box;
  text-align: center;
 
}

.signup {
  color: #2F2B3DE5;
  font-size: 18px;
  font-weight: 600;
  margin: 4px 0;
}

.subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #2F2B3DB2;
  margin-bottom: 6px;
}

h4 {
  font-size: 14px;
  margin-bottom: 6px;
  text-align: left;
  color: #2F2B3DE5;
}


label {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 600;
  color: #2F2B3DE5;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  font-size: 11px;
  border-radius: 4px;
  box-sizing: border-box;
}

.password-field {
  position: relative;
}

.password-field span {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 11px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 4px;

}



.forgot-password {
  color: #007bff;
  text-decoration: none;
  font-size: 11px;
}

.forgot-password:hover {
  text-decoration: underline;
}

button[type="submit"] {
  width: 100%;
  padding: 6px;
  background-color: #076271;
  color: white;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-link {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #2F2B3DE5;
}

.login-link a {
  font-size: 12px;
  text-decoration: none;
}

.or {
  margin: 10px 0 5px;
  font-size: 11px;
  font-weight: 500;
  color: #2F2B3DE5;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 8px 0 0;
}

.social-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .signup-form {
    padding: 10px 12px;
  }

  .signup {
    font-size: 16px;
  }

  .subtitle {
    font-size: 11px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 10px;
    padding: 5px 7px;
  }

  button[type="submit"] {
    font-size: 11px;
    padding: 6px;
  }
}

