.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f6fa;
}

.reset-box {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.logo span {
  color: #6cb2eb;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  color:#2F2B3DE5
}

.instruction {
text-align: left;
  font-size: 16px;
  color: #2F2B3DB2;
  margin-bottom: 20px;
  font-weight: 400;
}
.lock{
width:20px;
}


.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  color:#2F2B3DE5;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.reset-btn {
  width: 100%;
  padding: 12px;
  background-color: #076271 !important;
  color: white !important;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.reset-btn:hover {
  background-color: #005f56;
}

.back-link {
    display: flex;
  display: block;
  margin-top: 15px;
  font-size: 15px;
  color: #076271;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.back-link:hover {
  text-decoration: underline;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  width: 100%;
  padding-right: 40px; 
  padding-left: 10px;
  height: 35px;
  box-sizing: border-box;
}

.toggle-icon {
  position: absolute;
  right: 10px;
  top:3px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}
